<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favicon.png">
  <title>science for JHS</title>
</head>
<body>
<header>
  <div class="navigation">
    <div class="nav-inner">
      <div class="humberger-menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <!--Object satu-->
      <div class="logo">
        <h1>Eazy Learn</h1>
      </div>
      <!--Object dua-->
      <div class="menu">
        <ul id="drawer" class="nav_list">
          <li><a href="#/">Home</a></li>
          <li><a href="#/login">Login</a></li>
          <li><a href="#/register">Register</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<main id="main-content"></main>

<footer>
    <p>Science of Junior Hight School</p>
</footer>
</body>
</html>