.box-color-dark {
    background-color: rgb(248, 242, 234);
}
.inner-description-app {
    width: 1000px;
    margin: 60px auto 0 auto;
    font-size: 20px;
    text-align: center;
    padding: 30px;
    line-height: 1.5em;
}
.inner-description-app > .title {
    margin-bottom: 20px;
}
.inner-bio-tim {
    width: 1000px;
    margin: 70px auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.picture {
    overflow: hidden;
    height: 400px;
    margin: 0 auto;
}
.image-tim {
    height: 100%;
    max-height: 500px;
    object-fit: cover;
}
.detail-biodata {
    margin-left: 40px;
}